@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.nav, .about, .contact {
  padding: 50px; 
  margin-left: 200px;
}

.myCv, .nav, .about, .contact {
  min-height: 100vh;
}

/* Nav */

.active, ul li a {
  transition: .4s;
}

.active, ul li a:hover { 
  color: #80ed99;
}

.bars {
  display: none;
}

.bars .barIcons {
  font-size: 22px;
  padding: 15px;
}

.sideNav {
  width: 200px;
  height: 100vh;
  z-index: 9;
  background-color: #212529;
  color: #fff;
  padding: 0 2%;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  border-radius: 5px;
  margin: 5px 0;
  padding: 2px ;
  align-items: center;
}

ul li hr {
  color: #343a40;
}

ul li p{
  display: inline-block;
  margin: 0 3px;
  font: 700;
}

.nav button {
  margin-top: 9px;
  padding: 3px 8px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav p {
  margin-top: 7px;
}

@media (max-width: 600px) {
  .hide {
    display: none;
  }

  .bars {
    display: flex;
    position: fixed;
    z-index: 1000;
  }

  .sideNav {
    display: none;
  }

  .nav, .about, .contact {
    margin-left: 0;
  }

  .openSideNav {
    width: 100%;
    height: 100%;
    background-color: #21252998;
    color: #fff;
    padding: 0 2%;
    position: fixed;
    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}


.side-image img {
  padding: 30px;
}

/* About-bage */
.about p {
  margin-top: 7px;
}


.details-about {
  width: 100%;
  padding: 0 2%;
}

.table-about hr {
  color: #626a72;
  position: relative;
  width: 80%;
  margin: 10px 0;
  border-radius: 50%;
}

.table-about {
  margin: 25px 0;
}

.progress-bars li {
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  color: #80ed99;
}

.progress-bars hr {
  position: relative;
  height: 7px;
  color: #343a40;
  border-radius: 50px;
  background-color: #212529;
}

.progress-bars hr::after {
  content: "";
  height: 7px;
  background-color: #80ed99;
  border-radius: 50px;
  position: absolute;
}

/* contact */
.contact {
  width: 100%;
  overflow: hidden;
}

.contact .p-contact {
  margin-bottom: 20px;
}

.contact .side-contact {
  max-width: 20%;
}

.contact i {
  color: #80ed99;
  font-size: xx-large;
  margin: 35px 0 10px;
}

.contact b {
  color: #80ed99;
}


@media (max-width: 768px) {
  .contact form .personal-input {
    display: flex;
    flex-direction: column;
  }

  .contact form .personal-input .input-1 {
    margin-right: 0;
  }
}

.contact form .personal-input .input-1 {
  margin-right: 5px;
}

.contact form .personal-input input, .contact form textarea {
  background-color: #212529;
  color: #626a72;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  padding: 3px 9px;
}
.contact form .submit {
  background-color: #2d9445;
  padding: 3px 9px;
  border-radius: 5px;
  cursor: pointer;
}